@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.profileSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.profileSectionDiv {
  background: rgb(255, 255, 255);
  padding: 50px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 5px 10px 15px rgb(231, 231, 231);
}

.columnContainer {
  display: flex;
  position: relative;
}

.iconDiv {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-right: 18px;
}

/* .valuesFromData::first-letter {
  text-transform: capitalize;
} */

.valuesFromData {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.properties {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #65676b;
}
