@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merriweather:wght@300&family=Poppins&family=Raleway:wght@200&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
  background-color: #f1f7fe;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
