/* Home page style --------------------------------- */

.mainContainer {
  padding: 0;
  margin: 0;
  background: url(../public/sky\ with\ stars.jpg);
  background-size: cover;
}

.subContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

/* Navigation bar */

.mainNav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(16, 14, 37);
  color: #fff;
  height: 70px;
  align-items: center;
}

.navText {
  margin: 0 70px;
}

.navText:hover {
  background-color: #fff;
  color: rgb(16, 14, 37);
}

/* Log in page style */

.loginUserInput {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}